<div class="user-container">
    <p style="color: green"><%= notice %></p>
    <%= render partial: "user_summary", locals: {user: @user} %>
    

    <!-- 
    <%= link_to users_path, style: "text-decoration: none; margin: 0 4px;", title: "View All Users" do %>
        View All 
    <% end %>

    -->
    
</div>

<style>
</style>