<h1>Payments</h1>
<%=link_to "Create new Payment", new_user_payment_path(@user.id)%>

 <table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>-</th>
    <th>Action</th>
  </tr>
  <%@payments.each do |payment|%>
    <tr>
      <td><%= payment.payer.first_name%></td>
      <td><%= payment.owed_amount%></td>
      <td><%=link_to "Show", user_payment_path(@user.id, payment)%></td>
      <td><button>Pay</button></td>
    </tr>
  <%end%>
</table> 